body {
    text-align: center;
    background-color: deepskyblue;
}

button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: darkgreen;
}

.submit-button {
    background-color: yellow;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: yellowgreen;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

input[type="text"], input[type="number"] {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"]:hover, input[type="number"]:hover {
    border-color: #666;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}
